body {
    height: 100vh; /* body will be same height as the viewport */
    margin: 0; /* removes default margin */
    font-family: Roboto, sans-serif; 
}

header {
    display: flex; /* displays logo and links in a row at top of page */
    justify-content: space-around; /* horizontal space on each side of flex items */
    align-items: center; /* centers header items vertically */
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links {
    list-style: none; /* removes bullet points */
    display: flex; /* display nav links in a row */
    gap: 15px; /* add space between list item links */

    /* remove default margin & padding */
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none; /* removes underline from links */
    color: #E5E7EB;
    font-size: 18px;
}