body {
    height: 100vh;
    margin: 0; /* removes default margin */
    font-family: Roboto, sans-serif; 

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* allows content to grow vertically (pushes footer to bottom) */
}



/*** Header and Hero Styling ***/

.header-hero {
    background-color: #1F2937;
    display: flex; 
    flex-direction: column;
    padding: 0px 200px;
    flex-wrap: wrap; /* fixes issue of the placeholder div partially running off the screen on window resize  */
}



/*** Header Styling ***/

header {
    display: flex; /* displays logo and links in a single row at top of page */
    justify-content: space-between; /* pushes logo and links to opposite edges */
    align-items: center; 
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links {
    list-style: none;
    display: flex; /* displays nav links in a single row */
    gap: 15px;

    /* removes default margin & padding */
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}



/*** Hero Styling ***/
.hero {
    display: flex; /* displays hero flex items in a row */
    background-color: #1F2937;
    justify-content: space-between; /* adds space between flex items (so our flex items are pushed to the edges) */
    padding: 100px 0px;
}

.hero-heading {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0; /* removes default margin */
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0; /* removes default margin */
}

.hero-heading,
.hero-text {
      margin-bottom: 12px;
}

.hero-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none; /* remove default border */
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 4px;
}

.placeholder {
    color: white;
    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
}

.left-align-hero,
.placeholder {
    /* Makes our flex items (placeholder and hero content) each take 
    up approx. half of container (items will be same basis/ideal size) */
    flex-basis: 48%;
}



/*** Information Section Styling ***/

.info-section {
    padding: 45px 0px 100px 0px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-top: 0; /* removes default margin */
    margin-bottom: 45px; /* replaces default margin */
}

.info-block-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* block(s) will wrap onto next line if they don't have enough space */
    gap: 40px;
}

.illustration {
    box-sizing: border-box; /* width/height of the element will be the actual defined width/height (to avoid confusion)-- takes border & padding into account */
    width: 200px;
    height: 200px;
    border-radius: 12px;
    border: 5px solid #3882F6;
}

.info-block {
    width: 200px; /* subtext will match width of the illustration/box above it */
    text-align: center;
}



/*** Quote Section Styling ***/

.quote-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 80px;
}

.quote-container {
    width: 50%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-signature {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}



/*** Call to Action Styling ***/

.call-to-action {
    display: flex; /* displays text and button in a single row */
    justify-content: center;
    align-items: center;
    padding: 90px;
}

.blue-box {
    display: inline-flex; /* treats the container as an inline element (will only by as wide as content) */
    padding: 45px 10px;
    width: 65%;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
}

.call-header {
    margin: 0; /* removes default margin */
}

.call-button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white; /* removes default border */
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 6px;
}



/*** Footer Styling ***/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 30px;
    color: #F9FAF8;
}
